<a href="https://colab.research.google.com/github/muva8496/The-Great-Thing/blob/main/Resources/Blank_SQL_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Int_SQL_Data_Analytics_Course/blob/main/Resources/Blank_SQL_Notebook.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Blank SQL Notebook

#### Import Libraries & Database

In [42]:
import sys
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# If running in Google Colab, install PostgreSQL and restore the database
if 'google.colab' in sys.modules:
    # Update package installer
    !sudo apt-get update -qq > /dev/null 2>&1

    # Install PostgreSQL
    !sudo apt-get install postgresql -qq > /dev/null 2>&1

    # Start PostgreSQL service (suppress output)
    !sudo service postgresql start > /dev/null 2>&1

    # Set password for the 'postgres' user to avoid authentication errors (suppress output)
    !sudo -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'password';" > /dev/null 2>&1

    # Create the 'colab_db' database (suppress output)
    !sudo -u postgres psql -c "CREATE DATABASE contoso_100k;" > /dev/null 2>&1

    # Download the PostgreSQL .sql dump
    !wget -q -O contoso_100k.sql https://github.com/lukebarousse/Int_SQL_Data_Analytics_Course/releases/download/v.0.0.0/contoso_100k.sql

    # Restore the dump file into the PostgreSQL database (suppress output)
    !sudo -u postgres psql contoso_100k < contoso_100k.sql > /dev/null 2>&1

    # Shift libraries from ipython-sql to jupysql
    !pip uninstall -y ipython-sql > /dev/null 2>&1
    !pip install jupysql > /dev/null 2>&1

# Load the sql extension for SQL magic
%load_ext sql

# Connect to the PostgreSQL database
%sql postgresql://postgres:password@localhost:5432/contoso_100k

# Enable automatic conversion of SQL results to pandas DataFrames
%config SqlMagic.autopandas = True

# Disable named parameters for SQL magic
%config SqlMagic.named_parameters = "disabled"

# Display pandas number to two decimal places
pd.options.display.float_format = '{:.2f}'.format

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

Connecting and switching to connection 'postgresql://postgres:***@localhost:5432/contoso_100k'

In [46]:
%%sql

SELECT
    customerkey,
    orderkey,
    linenumber,
    (quantity * netprice * exchangerate) as net_revenue,
    AVG(quantity * netprice * exchangerate) OVER () as avg_net_revenue_all_orders,
    AVG(quantity * netprice * exchangerate) OVER (PARTITION BY customerkey) as avg_net_revenue_per_customer
FROM sales
ORDER BY customerkey
LIMIT 10

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

,customerkey,orderkey,linenumber,net_revenue,avg_net_revenue_all_orders,avg_net_revenue_per_customer
0,15,2259001,0,2217.41,1032.69,2217.41
1,180,1305016,0,525.31,1032.69,836.74
2,180,3162018,1,1913.55,1032.69,836.74
3,180,3162018,0,71.36,1032.69,836.74
4,185,1613010,0,1395.52,1032.69,1395.52
5,243,505008,0,287.67,1032.69,287.67
6,387,2495044,0,1265.56,1032.69,517.32
7,387,3242015,0,30.51,1032.69,517.32
8,387,3242015,3,446.44,1032.69,517.32
9,387,3242015,2,180.35,1032.69,517.32

In [55]:
%%sql

SELECT
    customerkey as customer,
    orderdate,
    (quantity * netprice * exchangerate) as net_revenue,
    ROW_NUMBER() OVER(
        PARTITION BY customerkey
        ORDER BY quantity * netprice * exchangerate DESC
    ) AS order_rank,
    SUM(quantity * netprice * exchangerate) OVER(
        PARTITION BY customerkey
        ORDER BY orderdate
    ) AS customer_running_total,
    SUM(quantity * netprice * exchangerate) OVER(
        PARTITION BY customerkey
    ) AS customer_total_net_revenue,
    quantity * netprice * exchangerate  / SUM(quantity * netprice * exchangerate) OVER(PARTITION BY customerkey) AS customer_share_of_total_revenue
FROM sales
ORDER BY customerkey, orderdate
LIMIT 10

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

,customer,orderdate,net_revenue,order_rank,customer_running_total,customer_total_net_revenue,customer_share_of_total_revenue
0,15,2021-03-08,2217.41,1,2217.41,2217.41,1.00
1,180,2018-07-28,525.31,2,525.31,2510.22,0.21
2,180,2023-08-28,1913.55,1,2510.22,2510.22,0.76
3,180,2023-08-28,71.36,3,2510.22,2510.22,0.03
4,185,2019-06-01,1395.52,1,1395.52,1395.52,1.00
5,243,2016-05-19,287.67,1,287.67,287.67,1.00
6,387,2018-12-21,619.77,3,2370.54,4655.84,0.13
7,387,2018-12-21,1608.10,1,2370.54,4655.84,0.35
8,387,2018-12-21,97.05,7,2370.54,4655.84,0.02
9,387,2018-12-21,45.62,8,2370.54,4655.84,0.01

In [63]:
%%sql

SELECT
  orderdate,
  orderkey * 10 + linenumber AS order_line_number,
  (quantity * netprice * exchangerate) AS net_revenue,
  SUM(quantity * netprice * exchangerate) OVER(
    PARTITION BY orderdate) AS daily_net_revenue,
    (quantity * netprice * exchangerate) * 100 / SUM(quantity * netprice * exchangerate) OVER(
    PARTITION BY orderdate) AS daily_net_revenue_percentage
FROM sales
ORDER BY
  orderdate,
  daily_net_revenue_percentage DESC
LIMIT 10

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

,orderdate,order_line_number,net_revenue,daily_net_revenue,daily_net_revenue_percentage
0,2015-01-01,10043,2395.10,11640.80,20.58
1,2015-01-01,10061,1552.32,11640.80,13.34
2,2015-01-01,10022,1302.91,11640.80,11.19
3,2015-01-01,10020,1146.75,11640.80,9.85
4,2015-01-01,10050,975.16,11640.80,8.38
5,2015-01-01,10021,950.25,11640.80,8.16
6,2015-01-01,10041,578.52,11640.80,4.97
7,2015-01-01,10081,574.05,11640.80,4.93
8,2015-01-01,10001,423.28,11640.80,3.64
9,2015-01-01,10040,263.11,11640.80,2.26

In [64]:
%%sql

SELECT *,
    100 *  net_revenue / daily_net_revenue AS daily_net_revenue_percentage
FROM (
   SELECT
    orderdate,
    orderkey * 10 + linenumber AS order_line_number,
    (quantity * netprice * exchangerate) AS net_revenue,
    SUM(quantity * netprice * exchangerate) OVER(
        PARTITION BY orderdate) AS daily_net_revenue
    FROM sales
    ) AS revenue_by_day

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

199873 rows affected.

,orderdate,order_line_number,net_revenue,daily_net_revenue,daily_net_revenue_percentage
0,2015-01-01,10000,63.49,11640.80,0.55
1,2015-01-01,10001,423.28,11640.80,3.64
2,2015-01-01,10010,108.75,11640.80,0.93
3,2015-01-01,10020,1146.75,11640.80,9.85
4,2015-01-01,10021,950.25,11640.80,8.16
...,...,...,...,...,...
199868,2024-04-20,33980341,914.61,96879.43,0.94
199869,2024-04-20,33980342,150.18,96879.43,0.16
199870,2024-04-20,33980350,147.78,96879.43,0.15
199871,2024-04-20,33980351,2019.62,96879.43,2.08
199872,2024-04-20,33980352,56.83,96879.43,0.06

In [81]:
%%sql

WITH yearly_cohort AS(
SELECT DISTINCT
    customerkey,
    EXTRACT(YEAR FROM MIN(orderdate) OVER (PARTITION BY customerkey)) AS cohort_year
FROM sales
)
SELECT
    y.cohort_year,
    EXTRACT(YEAR FROM orderdate) AS purchase_year,
    SUM(s.quantity * s.netprice * s.exchangerate) AS net_revenue
FROM sales s
LEFT JOIN yearly_cohort y ON s.customerkey = y.customerkey
GROUP BY
    y.cohort_year,
    purchase_year
LIMIT 10

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

  cohort_year purchase_year  net_revenue
0        2015          2015   7370979.48
1        2015          2016    392623.48
2        2015          2017    479841.31
3        2015          2018   1069850.87
4        2015          2019   1235991.48
5        2015          2020    386489.60
6        2015          2021    872845.99
7        2015          2022   1569787.72
8        2015          2023   1157633.91
9        2015          2024    356186.62